<p>
    <span class="heading">Stats</span>
</p>
<p>
    <span class="text">Your homepage for navigating the campus ministry stats system.</span>
</p>
<span class="bold">All Staff (Personal Ministry)</span>
<br/>
<span class="text"><a href="/a_submit_weekly_stats">Submit Weekly Stats</a></span>
<br/>
<span class="text"><a href="/a_indicated_decisions">Indicated Decisions</a></span>
<br/>
<span class="text"><a href="/a_semester_at_a_glance">Semester At A Glance</a></span>
<br/>
<span class="text"><a href="/a_year_summary">Year Summary</a></span>
<br/>
<br/>
<span class="bold">Campus Stats Coordinator</span>
<br/>
<br/>
<span class="bold">Campus Directors</span>
<br/>
<span class="text"><a href="/c_semester_at_a_glance">Semester At A Glance</a></span>
<br/>
<span class="text"><a href="/c_monthly_summary_by_campus">Monthly Summary by Campus</a></span>
<br/>
<br/>
<span class="bold">Regional Team</span>
<br/>
<span class="text"><a href="/r_summary_by_campus">Regional Semester Summary by Campus</a></span>
<br/>
<span class="text"><a href="/r_summary_by_month">Regional Semester Summary by Month</a></span>
<br/>
<span class="text"><a href="/r_summary_by_week">Regional Monthly Summary by Week</a></span>
<br/>
<br/>
<span class="bold">National Team</span>
<br/>
<span class="text"><a href="/n_indicated_decisions">Indicated Decisions</a></span>
<br/>
<span class="text"><a href="/n_hpctkc">How People Came to Know Christ</a></span>
<br/>

