<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>Campus for Christ :: The Pulse :: Stats</title>
        <%= stylesheet_link_tag "stats" , :media => "all" %>
    </head>
    <body>
        <div id="outer">
            <center>
            <table width="920" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <reportdata>
                            <!--googleoff: all-->
                            <style type="text/css">@import url(https://www.mygcx.org/static/script/gcx/yui/skins/cnxbar/menu.css);
                            </style>
                            <script type="text/javascript" src="https://www.mygcx.org/static/script/yui/yahoo-dom-event/yahoo-dom-event.js">
                            </script>
                            <script type="text/javascript" src="https://www.mygcx.org/static/script/yui/animation/animation.js">
                            </script>
                            <script type="text/javascript" src="https://www.mygcx.org/static/script/yui/container/container_core.js">
                            </script>
                            <script type="text/javascript" src="https://www.mygcx.org/static/script/yui/menu/menu.js">
                            </script>
                            <script type="text/javascript">
                                YAHOO.util.Event.onContentReady("ConneXionBar", function(){
                                    var CNXMenuBar = new YAHOO.widget.MenuBar("ConneXionBar", {
                                        autosubmenudisplay: true,
                                        hidedelay: 750,
                                        effect: {
                                            effect: YAHOO.widget.ContainerEffect.FADE,
                                            duration: 0.250
                                        }
                                    });
                                    //Fix to get the all the submenus at a z-index of 999
                                    CNXMenuBar.subscribe("render", function(p_sType, p_aArgs){
                                        this.cfg.setProperty("zindex", 999);
                                    });
                                    CNXMenuBar.render();
                                });
                            </script>
                            <div class="yui-skin-cnxbar">
                                <div id="ConneXionBar" class="yuimenubar yuimenubarnav" style="display:none;">
                                    <div class="bd">
                                        <ul class="first-of-type">
                                            <li class="yuimenubaritem">
                                                <a class="yuimenubaritemlabel" href="#">MY TOOLS</a>
                                                <div class="yuimenu">
                                                    <div class="bd">
                                                        <ul>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="/GPS/screen/softwareOrdering" target="_blank">Software Ordering</a>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/public/screen/profile">Profile</a>
                                                            </li>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/public/screen/peopleLocator">People Locator</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="yuimenubaritem">
                                                <a class="yuimenubaritemlabel" href="#">MY COMMUNITIES</a>
                                                <div class="yuimenu">
                                                    <div class="bd">
                                                        <ul>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/C4C_Ops/screen/home">C4C_Ops</a>
                                                            </li>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_wlu/screen/home">c4c_wlu</a>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/public/screen/communityBrowser">Show All</a>
                                                                <div class="yuimenu">
                                                                    <div class="bd">
                                                                        <ul>
                                                                            <li class="yuimenuitem">
                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/C4C_FacebookFanPage/screen/home">C4C_FacebookFanPage</a>
                                                                            </li>
                                                                            <li class="yuimenuitem">
                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/C4C_Ops/screen/home">C4C_Ops</a>
                                                                            </li>
                                                                            <li class="yuimenuitem">
                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/C4C_Staff_Intranet/screen/home">C4C_Staff_Intranet</a>
                                                                                <div class="yuimenu">
                                                                                    <div class="bd">
                                                                                        <ul>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/Campus_Days09/screen/home">Campus_Days09</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="yuimenuitem">
                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/C4C_Websites/screen/home">C4C_Websites</a>
                                                                                <div class="yuimenu">
                                                                                    <div class="bd">
                                                                                        <ul>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_brock/screen/home">c4c_brock</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_concordia/screen/home">c4c_concordia</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_cu/screen/home">c4c_cu</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_dal/screen/home">c4c_dal</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_mac/screen/home">c4c_mac</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_mcgill/screen/home">c4c_mcgill</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_montreal/screen/home">c4c_montreal</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_quebec/screen/home">c4c_quebec</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_queens/screen/home">c4c_queens</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_ryerson/screen/home">c4c_ryerson</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_seneca/screen/home">c4c_seneca</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_sfu/screen/home">c4c_sfu</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_sherbrooke/screen/home">c4c_sherbrooke</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_smu/screen/home">c4c_smu</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_ubc/screen/home">c4c_ubc</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_ul/screen/home">c4c_ul</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uofa/screen/home">c4c_uofa</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uofc/screen/home">c4c_uofc</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uofg/screen/home">c4c_uofg</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uofm/screen/home">c4c_uofm</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uofs/screen/home">c4c_uofs</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uoft/screen/home">c4c_uoft</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uottawa/screen/home">c4c_uottawa</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uvic/screen/home">c4c_uvic</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uw/screen/home">c4c_uw</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_uwo/screen/home">c4c_uwo</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_windsor/screen/home">c4c_windsor</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_wlu/screen/home">c4c_wlu</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/c4c_york/screen/home">c4c_york</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/frosh/screen/home">frosh</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="yuimenuitem">
                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/LooP09_AccelerationZone/screen/home">LooP09_AccelerationZone</a>
                                                                                <div class="yuimenu">
                                                                                    <div class="bd">
                                                                                        <ul>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/LooP09_C4C_WebsiteRebrand/screen/home">LooP09_C4C_WebsiteRebrand</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/LooP09_Fun/screen/home">LooP09_Fun</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/LooP09_GraphicProjects/screen/home">LooP09_GraphicProjects</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/LooP09_IntegratedPromo/screen/home">LooP09_IntegratedPromo</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/LooP09_ITProjects/screen/home">LooP09_ITProjects</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/LooP09_MovementTracker/screen/home">LooP09_MovementTracker</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/LooP09_SoulCravings/screen/home">LooP09_SoulCravings</a>
                                                                                            </li>
                                                                                            <li class="yuimenuitem">
                                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/LooP09_VideoProjects/screen/home">LooP09_VideoProjects</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="yuimenuitem">
                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/UW_Summer_Ministry_09/screen/home">UW_Summer_Ministry_09</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/public/screen/profile?profile_combinerURL=globalProfile#FavoriteCommunities">Edit</a>
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/public/screen/communityBrowser">Browse</a>
                                                            </li>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="#">New</a>
                                                                <div class="yuimenu">
                                                                    <div class="bd">
                                                                        <ul>
                                                                            <li class="yuimenuitem">
                                                                                <a class="yuimenuitemlabel" href="https://www.mygcx.org/Public/screen/new_community_agreement">Community</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="yuimenubaritem" style="float:right;">
                                                <a class="yuimenubaritemlabel" href="https://intranet.campusforchrist.org/index.php?p_Mod=Logout">LOGOUT</a>
                                            </li>
                                            <li class="yuimenubaritem" style="float:right;">
                                                <a class="yuimenubaritemlabel" href="#">HELP</a>
                                                <div class="yuimenu">
                                                    <div class="bd">
                                                        <ul>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="/HelpCenter/screen/home">GCX HelpCenter</a>
                                                            </li>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="http://app1.mygcx.org/gcxhelp/usersGuide/index.html">GCX User Guide</a>
                                                            </li>
                                                            <li class="yuimenuitem">
                                                                <a class="yuimenuitemlabel" href="gcxFeedback">Feedback</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="yuimenubaritem" style="float:right;">
                                                <a class="yuimenubaritemlabel" href="#">SEARCH</a>
                                                <div class="yuimenu cnxbar-search">
                                                    <div class="bd">
                                                        <form method="get" accept-charset="UTF-8" action="https://www.mygcx.org/public/screen/search">
                                                            <input type="text" name="q"/><input type="submit" value="Search"/>
                                                            <br/>
                                                            <select name="as_oq">
                                                                <option value="" selected="selected">All CCCI</option>
                                                                <option value="site:www.mygcx.org">All MyGCX</option>
                                                                <option value="site:www.mygcx.org/Public">This community</option>
                                                            </select>
                                                            <input type="hidden" name="site" value="default_collection"/><input type="hidden" name="oe" value="UTF-8"/><input type="hidden" name="output" value="xml_no_dtd"/><input type="hidden" name="client" value="gcx_frontend"/><input type="hidden" name="proxystylesheet" value="gcx_frontend"/>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--googleon: all-->
                        </reportdata>
                    </td>
                </tr>
            </table>
            </center>
            <div id="wrapper">
                <div id="userbar">
                    <img src="https://pulse.campusforchrist.org/images/resized_c4c.png" alt="https://pulse.campusforchrist.org/images/resized_c4c.png"/><a class="logoutbutton" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);f.submit();return false;" href="https://pulse.campusforchrist.org/session">logout</a>
                    <div id="userblock">
                        <div id="username">
                            William Schuurman
                        </div>
                    </div>
                </div>
                <div id="greenbar">
                    <h1 id="title">Campus Movement Tracker</h1>
                </div>
                <div class="clear">
                    &nbsp;
                </div>
                <div class="flash notice" id="flash_notice" style="display:none;">
                </div>
                <div class="flash warning" id="flash_warning" style="display:none;">
                    &nbsp;
                </div>
                <div id="content">
                    <%= yield %>
                </div>
            </div>
            <!-- Wrapper -->
            <div id="addStudent" style="display:none">
            </div>
            <div id="footer">
                <table width="100%">
                    <tr>
                        <td width="18%">
                            <!-- <img alt="Logo" src="/images/logo.png?1257527060" /></td><td style="font-size:11px;">
                            Student Network is part of the <a href="http://www.ministryhacks.com/">MinistryHacks Toolbox</a> -->
                        </td>
                        <td align="right">
                            <a href="http://www.ministryhacks.com/" target="_new"><img alt="Mh_logo" src="https://pulse.campusforchrist.org/images/mh_logo.png?1257527060" /></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div><!-- Center -->
    </body>
</html>