<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>Campus for Christ :: The Pulse :: Stats</title>
        <%= stylesheet_link_tag "stats" , :media => "all" %>
    </head>
    <body>
        <div id="outer">

            <div id="wrapper">
                <div id="userbar">
                    <img src="https://pulse.campusforchrist.org/images/resized_c4c.png" alt="https://pulse.campusforchrist.org/images/resized_c4c.png"/><a class="logoutbutton" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);f.submit();return false;" href="https://pulse.campusforchrist.org/session">logout</a>
                    <div id="userblock">
                        <div id="username">
                            William Schuurman
                        </div>
                    </div>
                </div>
                <div id="greenbar">
                    <h1 id="title">Campus Movement Tracker</h1>
                </div>
                <div class="clear">
                    &nbsp;
                </div>
                <div class="flash notice" id="flash_notice" style="display:none;">
                </div>
                <div class="flash warning" id="flash_warning" style="display:none;">
                    &nbsp;
                </div>
                <div id="content">
                	<center><p style="color: red"><%= flash[:notice] %></p></center>
                    <%= yield %>
                </div>
            </div>
            <!-- Wrapper -->
            <div id="addStudent" style="display:none">
            </div>
            <div id="footer">
                <table width="100%">
                    <tr>
                        <td width="18%">
                            <!-- <img alt="Logo" src="/images/logo.png?1257527060" /></td><td style="font-size:11px;">
                            Student Network is part of the <a href="http://www.ministryhacks.com/">MinistryHacks Toolbox</a> -->
                        </td>
                        <td align="right">
                            <a href="http://www.ministryhacks.com/" target="_new"><img alt="Mh_logo" src="https://pulse.campusforchrist.org/images/mh_logo.png?1257527060" /></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div><!-- Center -->
    </body>
</html>